<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chhd.permission">

    <application>
        <activity
            android:name=".PermissionUtils$PermissionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
